<h3
  mat-dialog-title
  class="d-flex justify-content-between"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
>
  <span>Panel: {{ data.tile.tile }} </span>
  <button
    mat-dialog-close
    class="btn btn-danger btn-sm"
    (click)="onRemovePanel()"
  >
    Usuń
  </button>
  <div cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
      ></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</h3>
<mat-dialog-content style="height: calc(100% - 96px)">
  <app-panel-config-main-parameters
    [panel]="panel"
  ></app-panel-config-main-parameters>
  <app-panel-config-titles [panel]="panel"> </app-panel-config-titles>
  <app-panel-config-rollup *ngIf="!!panel?.hasRollupSelector" [panel]="panel">
  </app-panel-config-rollup>
  <app-panel-config-chart *ngIf="panel?.type == 'chart'" [panel]="panel">
  </app-panel-config-chart>
  <app-panel-config-card-status
    *ngIf="panel?.type == 'card-stats'"
    [panel]="panel"
  >
  </app-panel-config-card-status>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-around sticky-bottom">
  <!-- <button class="btn btn-success" (click)="onSave()">Zapisz</button> -->

  <button
    class="btn btn-warning"
    [disabled]="!(isCopiedConfig$ | async)?.copiedPanelConfiguration"
    (click)="onPasteConfig()"
    mat-dialog-close
  >
    Wklej
  </button>
  <button class="btn btn-info" (click)="onCopyConfig()">
    Kopiuj konfigurację
  </button>
  <button mat-dialog-close class="btn btn-info">Zamknij</button>
</mat-dialog-actions>
