<div class="card card-chart">
  <div
    class="card-header mt-0 pt-1 pb-1 d-flex justify-content-between;"
    style="height: 40px"
  >
    <span
      (click)="openDialog()"
      *ngIf="isCreatorMode"
      style="font-size: 18px; z-index: 10"
      class="ml-4"
    >
      <span> <i class="tim-icons icon-pencil"></i> </span>
    </span>
    <div style="flex-shrink: 1; flex-grow: 2; min-width: 0">
      <h3
        #heading
        class="text-start ml-3"
        *ngIf="!!panel?.meta?.showTitle"
        style="
          font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        "
      >
        {{ panel?.panelData?.meta?.get("title") }}
      </h3>
    </div>

    <app-chart-table-toggle
      [tile]="panel"
      *ngIf="!!panel?.meta?.showTileTypeSelector"
      class="text-start"
      style="flex-shrink: 0"
    >
    </app-chart-table-toggle>
    <app-rollup-selector
      *ngIf="!!panel?.hasRollupSelector && panel?.type === 'chart'"
      [tile]="panel ?? undefined"
      style="flex-shrink: 0"
      >{{ !!panel?.hasRollupSelector }}</app-rollup-selector
    >
    <span
      style="font-size: 18px"
      class="ml-4"
      (click)="onDownload()"
      *ngIf="!!panel?.meta?.hasDownloadButton"
    >
      <i
        class="tim-icons icon-cloud-download-93 ml-2"
        style="cursor: pointer"
      ></i>
    </span>
  </div>
  <div class="card-body p-1">
    <ng-container *ngIf="panel?.type === 'chart'" style="min-height: 650px">
      <app-base-chart
        [chartConfiguration]="panel?.panelData"
        [height]="height.toString()"
      >
      </app-base-chart>
    </ng-container>
    <ng-container *ngIf="panel?.type === 'table'">
      <app-grid-table
        [data]="panel?.panelData"
        style="width: -webkit-fill-available"
        (onDownload)="onDownload()"
        [height]="height.toString()"
      >
      </app-grid-table>
    </ng-container>
    <ng-container *ngIf="panel?.type === 'card-stats'">
      <app-card-stats
        [data]="panel?.panelData"
        style="width: -webkit-fill-available"
        [height]="height.toString()"
      >
      </app-card-stats>
    </ng-container>
  </div>
</div>
