<div class="content">
  <div class="row">
    <div class="col-12 pr-1 pl-1">
      <div class="card mb-0 card-top-panel">
        <div class="card-body pt-2 pb-2">
          <div
            class="nav-pills-danger horizontal-pills justify-content-center tab-container"
          >
            <ul class="nav nav-stacked flex-columns nav-pills">
              <li class="nav-item top-panel">
                <a
                  class="nav-link"
                  routerLink="device"
                  routerLinkActive="active"
                  >Dane</a
                >
              </li>
              <li class="nav-item top-panel">
                <a class="nav-link">Wykresy</a>
              </li>
              <li class="nav-item top-panel">
                <a class="nav-link">Benchamrk</a>
              </li>
              <button
                class="btn btn-info"
                data-target="#searchModal"
                (click)="searchModal.show()"
                id="search-button"
              >
                Wybierz licznik
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div
  aria-hidden="true"
  aria-labelledby="searchModal"
  bsModal
  class="modal modal-search fade"
  #searchModal="bs-modal"
  id="searchModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-around">
        <h3 class="modal-title text-center">Lista liczników</h3>
        <button
          aria-label="Close"
          class="close"
          (click)="searchModal.hide()"
          data-dismiss="modal"
          type="button"
        >
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="card-body mr-0 ml-0 pr-1 pl-1 styled-scrollbars meters-list"
        >
          <div
            class="nav-pils-danger vertical-pills tab-container nav-meters-list"
          >
            <ul class="nav nav-stacked flex-columns nav-pills">
              <li
                class="nav-item ml-0 mr-0 w-100"
                *ngFor="let meter of meterList"
              >
                <a
                  class="nav-link pr-1 pl-1 mr-1 ml-1"
                  [routerLink]="'/pages/meters/device/' + meter.link"
                  (click)="searchModal.hide()"
                  >{{ meter.name }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
