<div
  class="chart-area"
  [ngStyle]="{ height: 'calc(' + height + 'vh - 50px)' }"
  class="p-1"
>
  <canvas
    baseChart
    [datasets]="chartConfig?.data?.datasets"
    [labels]="chartConfig?.data?.labels"
    [options]="chartConfig?.options"
    [type]="chartConfig?.type ?? 'bar'"
    [height]="'calc(' + height + 'vh - 50px)'"
  >
  </canvas>
  <app-loading-spinner
    [style]="{ height: 'calc(' + height + 'vh)' }"
    *ngIf="(!chartConfig && !chart) || isLoading"
  ></app-loading-spinner>
</div>

<!-- <canvas
baseChart
[data]="chartConfig?.data"
[options]="chartConfig?.options"
[datasets]="chartConfig?.data?.datasets"
[labels]="chartConfig?.data?.labels"
[type]="chartConfig?.type ?? 'bar'"
[height]="'calc(' + height + 'vh - 50px)'"
>
</canvas> -->
