.stepper-input {
  display: flex;
  margin-top: 0.5rem;
  /* Border */
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;

  /* Size */
  height: 100%;
}

.stepper-input__button {
  /* Reset */
  background: transparent;
  color: inherit;
  border: none;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Size */
  width: 2rem;
}

.stepper-input__content {
  flex: 1;
}

.stepper-input__input {
  /* Reset */
  border: none;

  /* Take full size of its container */
  height: 100%;
  width: 100%;
}
