<div class="row mt-2" *ngIf="meterData$">
  <div class="col-12">
    <h2 class="text-center">
      <a style="float: left" routerLink="/tmmp-config">
        <i class="tim-icons icon-minimal-left"></i>
      </a>
      {{ (meterData$ | async)?.toDis() }}
    </h2>
  </div>
</div>
<div class="row mt-2">
  <div class="col-3">
    <h3 class="text-center">Przypisane liczniki</h3>
    <table class="table table-dark table-striped text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nazwa licznika</th>
          <th scope="col">Akcja</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of (assignedMeters$ | async)?.rows; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ row["navName"] }}</td>
          <td>
            <button
              class="btn btn-sm btn-danger"
              (click)="onDeleteAssingment(row)"
            >
              Usuń
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>
  <div class="col-7">
    <h3 class="text-center">Dostępne liczniki</h3>
    <div class="col-12 mb-2">
      <input
        type="text"
        class="w-100"
        #navName
        placeholder="Wpisz nazwę licznika..."
      />
    </div>
    <table class="table table-dark table-striped text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nazwa licznika</th>
          <th scope="col">Przypisane centrum kosztowe</th>
          <th scope="col">Akcja</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let row of (availableMeters$ | async)?.getRows();
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ row.toDis() }}</td>
          <td>
            {{ getMeterName(row) }}
          </td>
          <td>
            <button
              class="btn btn-sm"
              (click)="onAssignButton(row)"
              [ngClass]="!getMeterName(row) ? 'btn-info' : 'btn-warning'"
            >
              {{ getMeterName(row) ? "Zmień" : "Przypisz" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
