<div class="content">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <button
        class="btn btn-sm"
        routerLink="/tmmp-config/costCenters"
        routerLinkActive="btn-primary"
      >
        Centra kosztowe
      </button>

      <button
        class="btn btn-sm"
        routerLink="/tmmp-config/gasStations"
        routerLinkActive="btn-primary"
      >
        Stacje gazowe
      </button>
    </div>
    <div class="col-lg-4 col-md-4">
      <h2 class="text-center">Konfiguracja</h2>
    </div>
    <div class="col-lg-4 col-md-4">
      <app-site-dropdown-button></app-site-dropdown-button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
