<div class="card h-100">
  <div
    class="card-header mb-2 pb-0 pt-1 d-flex justify-content-between align-items-baseline"
  >
    <span class="text-center w-100 p-1">{{ title }}</span>
    <span (click)="download()" style="font-size: 18px; z-index: 10">
      <i
        class="tim-icons icon-cloud-download-93 ml-2"
        style="cursor: pointer"
      ></i>
    </span>
  </div>
  <div class="card-body mt-0 pt-1">
    <div class="dataTables_wrapper h-100" *ngIf="!isLoading; else spinner">
      <ngx-datatable
        columnMode="force"
        style="height: -webkit-fill-available"
        [rowHeight]="40"
        [headerHeight]="50"
        [messages]="TableGenerator.messages"
        class="bootstrap"
        [columns]="TableGenerator.columns"
        [rows]="TableGenerator.rows"
        [scrollbarH]="true"
        [scrollbarV]="true"
        [virtualization]="true"
      >
      </ngx-datatable>
    </div>
  </div>
</div>

<ng-template #spinner>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<!-- <ng-template let-row="row" let-value="value" let-column="column" #edit>
  <div class="d-flex justify-content-between align-items-center">
    <input
      type="textarea"
      class="form-control"
      style="border: none; height: 100%; color: unset"
      placeholder="Wprowadź opis"
      [value]="value"
    />
    <i class="tim-icons icon-pencil"></i>
  </div>
</ng-template> -->

<ng-template let-row="row" let-value="value" let-column="column" #edit>
  <div class="input-addon">
    <!-- Input -->
    <input
      type="text"
      class="input-addon__input text-center"
      [value]="value"
      (focusout)="onParameterChange($event, row, column, value)"
    />

    <div class="input-addon__addon input-addon__addon--appended">
      <i class="tim-icons icon-pencil"></i>
    </div>
  </div>
</ng-template>
