<div class="card">
  <div class="card-body">
    <div class="toolbar"></div>
    <div class="dataTables_wrapper py-4">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length" id="datatable_length">
            <label>
              Pokaż
              <select
                name="datatable_length"
                aria-controls="datatable"
                class="form-control form-control-sm"
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="-1">All</option>
              </select>
              elementów
            </label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="datatable_filter" class="dataTables_filter">
            <label>
              <input
                type="search"
                class="form-control form-control-sm"
                placeholder="Search records"
                aria-controls="datatable"
              />
            </label>
          </div>
        </div>
      </div>

      <ngx-datatable
        id="print-section"
        class="bootstrap selection-cell header-wrap text-center"
        [columnMode]="'force'"
        [footerHeight]="50"
        [headerHeight]="50"
        [rowHeight]="'auto'"
        [rows]="rows | async"
        [loadingIndicator]="true"
      >
        <ngx-datatable-column
          [name]="column.dis"
          [prop]="column.name"
          [headerClass]="'text-center'"
          [cellClass]="'text-center'"
          [canAutoResize]="true"
          *ngFor="let column of columnNames"
        ></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
