<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mb-5">
      <div
        class="card scroll scroll-3"
        style="height: calc(100vh - 220px); overflow: auto"
      >
        <div class="card-header">
          <h4 class="card-title">Lista urządzeń</h4>
        </div>
        <div class="card-body">
          <div class="table">
            <table class="table tablesorter text-center" id="device-list">
              <thead class="text-primary">
                <tr>
                  <th *ngFor="let column of tableColumns">
                    {{ column.dis }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of responseData?.getRows(); let i = index">
                  <td *ngFor="let cell of tableColumns">
                    {{ row.get(cell.name) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
