<div class="content">
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h2 class="text-start">Dashboard</h2>
    </div>
    <div class="col-lg-2 col-md-4">
      <app-site-dropdown-button></app-site-dropdown-button>
    </div>
    <div class="col-lg-2 col-md-4">
      <app-timerange-dropdown-button></app-timerange-dropdown-button>
    </div>
  </div>
  <div class="container-fluid">
    <router-outlet *ngIf="siteFound; else siteErrorTemplate"></router-outlet>
  </div>
</div>

<ng-template #siteErrorTemplate>
  <div class="alert alert-info text-center" role="document">
    <h4 class="title">
      Nie masz uprawnień do żadnego budynku. Zwróc się do administratora.
    </h4>
  </div>
</ng-template>
