<div class="dropdown">
  <button
    *ngIf="type === 'range'"
    aria-expanded="false"
    aria-haspopup="true"
    placeholder="Daterangepicker"
    data-toggle="dropdown"
    class="dropdown-toggle btn btn-block"
    type="button"
    bsDaterangepicker
    [bsConfig]="bsDateRangeConfig"
    (bsValueChange)="onHidden($event)"
  >
    <i class="tim-icons icon-watch-time mr-2"></i>
    {{ displayText$ | async }}
  </button>

  <button
    *ngIf="type === 'single'"
    aria-expanded="false"
    aria-haspopup="true"
    placeholder="Daterangepicker"
    data-toggle="dropdown"
    class="dropdown-toggle btn btn-block"
    type="button"
    bsDatepicker
    [bsConfig]="bsDateConfig"
    (bsValueChange)="onHidden($event)"
  >
    <i class="tim-icons icon-watch-time mr-2"></i>
    {{ displayText$ | async }}
  </button>
</div>
