<h6 class="text-center p-0 m-0 pb-1 pt-1">Dane na wykresie</h6>
<div class="btn-group btn-group-toggle float-right w-100" data-toggle="buttons">
  <label
    class="btn btn-sm btn-danger btn-simple w-100"
    [ngClass]="{ active: activeOption === 'usage' }"
    for="dataTypeRadioButton"
  >
    <input
      id="dataTypeRadioButton"
      checked="checked"
      name="options"
      type="radio"
      (click)="optionTypeChanged('usage')"
    />

    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
      Zużycie
    </span>
    <span class="d-block d-sm-none">
      <i class=""> Zużycie </i>
    </span>
  </label>
  <label
    class="btn btn-sm btn-danger btn-simple w-100"
    [ngClass]="{ active: activeOption === 'cost' }"
  >
    <input
      checked="checked"
      name="options"
      type="radio"
      (click)="optionTypeChanged('cost')"
    />

    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
      Koszt
    </span>
    <span class="d-block d-sm-none">
      <i class=""> Koszt </i>
    </span>
  </label>
</div>
