::ng-deep .grafana-app {
  background-color: #1e1e2f;
}

.variable-link-wrapper > button {
  background: transparent !important;
  margin-top: 1rem;
}

#reactRoot
  > div.grafana-app
  > main
  > div.css-j6bmzp
  > header
  > nav
  > div.css-ogsqfw {
  visibility: hidden;
}

#reactRoot
  > div.grafana-app
  > main
  > div.css-j6bmzp
  > header
  > nav
  > div.css-63jktz
  > div:nth-child(2) {
  display: none;
}

#reactRoot
  > div.grafana-app
  > main
  > div.css-j6bmzp
  > header
  > nav
  > div.css-63jktz
  > div:nth-child(4)
  > div.button-group.css-1c76w5q.refresh-picker {
  display: none;
}

#reactRoot > div.grafana-app > div > nav {
  display: none;
}

button[aria-label="Show more items"],
button[aria-label="Cycle view mode"] {
  display: none;
}
