<div class="content">
  <div class="dropdowns">
    <app-site-dropdown-button class="mr-2"></app-site-dropdown-button>

    <app-meter-type-dropdown-button
      class="mr-2"
    ></app-meter-type-dropdown-button>

    <app-timerange-dropdown-button></app-timerange-dropdown-button>

    <app-timerange-dropdown></app-timerange-dropdown>
  </div>
  <!-- <div class="row">
    <div class="col-lg-2 col-md-4">
      <div class="card" style="overflow: auto">
        <div class="card-body">
          <div class="table">
            <table class="table tablesorter text-center" id="device-list">
              <thead class="text-primary">
                <tr>
                  <th>Nazwa licznika</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let meter of metersList$ | async">
                  <td>
                    {{ meter["navName"] }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-8">
      <ngx-datatable
        class="text-white expandable"
        [columnMode]="'force'"
        [columns]="tableColumns"
        [rows]="tableRows | async"
        [rowClass]="rowColors"
        rowHeight="auto"
        [headerHeight]="50"
        [selectionType]="st"
        [loadingIndicator]="!tableRows"
        [selectCheck]="selectCheck"
        (select)="onSelect($event)"
      >
      </ngx-datatable>
    </div>
    <div class="col-4">
      <ngx-datatable
        class="text-white expandable"
        [columnMode]="'force'"
        [rows]="metersList | async"
        [rowHeight]="'auto'"
        [columns]="tableColumns2"
        [selected]="selected"
      >
      </ngx-datatable>
    </div>
  </div>
</div>

<ng-template let-row="row" let-value="value" #building>
  <span>{{ formatValue(value) }}</span>
</ng-template>

<ng-template let-row="row" let-value="value" let-column="column" #editable>
  <div class="d-flex justify-content-between align-items-center">
    <input
      type="textarea"
      class="form-control"
      style="border: none; height: 100%; color: unset"
      placeholder="Example input"
      [value]="value"
      (focusout)="onDescChange($event, row, column)"
    />
    <i class="tim-icons icon-pencil"></i>
  </div>
</ng-template>
