<div class="content">
  <div class="dropdowns">
    <app-site-dropdown-button class="mr-2"></app-site-dropdown-button>
  </div>
  <div class="row mt-3">
    <div class="col-8">
      <app-meter-data-table
        [columnsConfig]="config.configuration.totalMeters.columns"
        [rows]="costCenterMeters$ | async"
        [displayCheck]="displayCheckTotal"
        (checkboxActivate)="onSelect($event)"
      ></app-meter-data-table>
    </div>
    <div class="col-4">
      <app-meter-data-table
        [columnsConfig]="config.configuration.meters.columns"
        [rows]="metersRows$ | async"
        [selectType]="selectTypeMeters"
        [selected]="selectedMeters"
        [displayCheck]="
          !(activeTotalMeter | async)
            ? displayCheckMeters
            : displayCheckMetersActive
        "
        (checkboxActivate)="onMeterSelect($event)"
      >
      </app-meter-data-table>
    </div>
  </div>
</div>
