<div class="content" *ngIf="pageConfig$ | async; else loadingTmpl">
  <app-dashboard-top-bar></app-dashboard-top-bar>

  <mat-grid-list
    [cols]="(pageConfig$ | async)?.layout?.colNumber ?? 12"
    [rowHeight]="((pageConfig$ | async)?.layout?.rowHeight ?? 30) + 'vh'"
    cdkDropList
    [cdkDropListDisabled]="!(isCreatorMode$ | async)"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-grid-tile
      *ngFor="
        let panel of (pageConfig$ | async)?.layout?.tiles;
        let index = index;
        trackBy: trackBy
      "
      cdkDrag
      [cdkDragDisabled]="!(isCreatorMode$ | async)"
      [colspan]="panel.cols"
      [rowspan]="panel.rows"
    >
      <app-page-panel
        [panel]="panel"
        [height]="((pageConfig$ | async)?.layout?.rowHeight ?? 10) * panel.rows"
        [isCreatorMode]="!!(isCreatorMode$ | async)"
      >
      </app-page-panel>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #loadingTmpl>
  <app-loading-spinner
    #loadingTmlp
    style="position: absolute; top: 50%; left: 50%"
  ></app-loading-spinner>
</ng-template>
