<div class="content">
  <app-dashboard-top-bar
    [isCreatorMode]="isCreatorMode"
  ></app-dashboard-top-bar>
  <mat-grid-list
    [cols]="(pageConfig$ | async)?.layout?.colNumber ?? 12"
    [rowHeight]="((pageConfig$ | async)?.layout?.rowHeight ?? 30) + 'vh'"
  >
    <mat-grid-tile
      *ngFor="
        let tile of (pageConfig$ | async)?.layout?.tiles;
        let index = index;
        trackBy: trackBy
      "
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
    >
      <app-dashboard-tile
        [tile]="tile"
        [height]="((pageConfig$ | async)?.layout?.rowHeight ?? 10) * tile.rows"
        [isCreatorMode]="isCreatorMode"
      >
      </app-dashboard-tile>
    </mat-grid-tile>
  </mat-grid-list>
</div>
