<div class="d-flex" style="justify-content: space-between; flex-wrap: wrap">
  <div style="flex-grow: 4">
    <h2 class="text-start">
      {{ (pageConfig$ | async)?.title }}
      <span
        *ngIf="isCreatorMode$ | async"
        style="font-size: 18px; cursor: pointer"
        class="ml-4"
        (click)="openDialog()"
      >
        <span> <i class="tim-icons icon-pencil"></i> </span>
      </span>
    </h2>
  </div>
  <div *ngIf="isCreatorMode$ | async" style="flex-grow: 2">
    <button
      [disabled]="!(isSavedRequired$ | async)?.isSaveRequired"
      (click)="onSaveConfig()"
      class="btn btn-sm btn-primary w-75"
    >
      Zapisz
    </button>
  </div>
  <div *ngIf="!!(pageConfig$ | async)?.showSiteSelector">
    <app-site-dropdown-button
      [showPortfolioOption]="false"
    ></app-site-dropdown-button>
  </div>
  <div *ngFor="let variable of (pageConfig$ | async)?.variables">
    <app-dashboard-variable-dropdown [variable]="variable">
    </app-dashboard-variable-dropdown>
  </div>
  <div *ngIf="!!(pageConfig$ | async)?.showTimerangeSelector">
    <app-timerange-dropdown></app-timerange-dropdown>
  </div>
</div>
