<div class="sidebar-wrapper">
  <div class="logo">
    <a
      href="https://solid-control.web.app/#/landing"
      class="simple-text logo-mini"
    >
      <div class="logo-img">
        <img [src]="sidebarLogo" />
      </div>
    </a>
  </div>
  <ul class="nav">
    <ng-container *ngFor="let menuitem of menuItems | async">
      <ng-container [ngSwitch]="menuitem.type">
        <!-- If it is a single link -->
        <ng-container *ngSwitchCase="'link'">
          <li
            *ngIf="menuitem.visible && menuitem.type === 'link'"
            routerLinkActive="active"
          >
            <a [routerLink]="[menuitem.path]">
              <i class="{{ menuitem.icontype }}"></i>
              <p>{{ menuitem.title }}</p>
            </a>
          </li>
        </ng-container>

        <!-- If it has a submenu -->
        <ng-container *ngSwitchCase="'sub'">
          <li *ngIf="menuitem.visible && menuitem.type === 'sub'">
            <a
              data-toggle="collapse"
              (click)="toggleCollapse(menuitem)"
              [attr.aria-expanded]="!menuitem.isCollapsed"
              [attr.aria-controls]="menuitem.collapse"
            >
              <i class="{{ menuitem.icontype }}"></i>
              <p>{{ menuitem.title }}<b class="caret"></b></p>
            </a>

            <!-- Display the submenu items -->
            <div
              id="{{ menuitem.collapse }}"
              [collapse]="menuitem.isCollapsed ?? false"
              [isAnimated]="true"
            >
              <ul class="nav">
                <li
                  *ngFor="let childitems of menuitem.children"
                  routerLinkActive="active"
                >
                  <ng-container [ngSwitch]="childitems.type">
                    <!-- If it is a single link -->
                    <ng-container *ngSwitchCase="'link'">
                      <a
                        [routerLink]="[menuitem.path, childitems.path]"
                        *ngIf="childitems.visible"
                      >
                        <span class="sidebar-mini-icon">{{
                          childitems.smallTitle
                        }}</span>
                        <span class="sidebar-normal">{{
                          childitems.title
                        }}</span>
                      </a>
                    </ng-container>

                    <!-- If it has a submenu -->
                    <ng-container *ngSwitchCase="'sub'">
                      <a
                        data-toggle="collapse"
                        (click)="toggleCollapse(menuitem, childitems)"
                        [attr.aria-expanded]="!childitems.isCollapsed"
                        [attr.aria-controls]="childitems.collapse"
                        *ngIf="childitems.visible"
                      >
                        <span class="sidebar-mini-icon">{{
                          childitems.smallTitle
                        }}</span>
                        <span class="sidebar-normal"
                          >{{ childitems.title }}<b class="caret"></b
                        ></span>
                      </a>

                      <!-- Display the submenu items -->
                      <div
                        id="{{ childitems.collapse }}"
                        [collapse]="childitems.isCollapsed ?? false"
                        [isAnimated]="true"
                      >
                        <ul class="nav">
                          <li
                            *ngFor="let childitem of childitems.children"
                            routerLinkActive="active"
                          >
                            <a [routerLink]="[menuitem.path, childitem.path]">
                              <span class="sidebar-mini-icon">{{
                                childitem.smallTitle
                              }}</span>
                              <span class="sidebar-normal">{{
                                childitem.title
                              }}</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </ng-container>
                  </ng-container>
                </li>
              </ul>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</div>
