<div class="card card-chart">
  <div
    class="card-header mt-0 pt-1 pb-1 d-flex justify-content-between"
    style="height: 40px"
  >
    <span
      (click)="openDialog()"
      *ngIf="isCreatorMode"
      style="font-size: 18px"
      class="ml-4"
    >
      <span> <i class="tim-icons icon-pencil"></i> </span>
    </span>
    <h3
      style="flex-grow: 10; flex-shrink: 1"
      class="text-start ml-3"
      *ngIf="!!(panelConfig$ | async)?.meta?.showTitle"
    >
      {{ (tileData$ | async)?.meta?.get("title") }}
    </h3>
    <app-chart-table-toggle
      [tileType]="(panelConfig$ | async)?.type ?? 'chart'"
      (tileTypeToggled)="onTypeChange($event)"
      *ngIf="!!(panelConfig$ | async)?.meta?.showTileTypeSelector"
      class="text-start"
    >
    </app-chart-table-toggle>
    <app-rollup-selector
      *ngIf="
        (panelConfig$ | async)?.hasRollupSelector &&
        (panelConfig$ | async)?.type === 'chart'
      "
      [tile]="(panelConfig$ | async) ?? undefined"
      (onRollupChange)="onRollupChange($event)"
    ></app-rollup-selector>
    <span
      style="font-size: 18px"
      class="ml-4"
      (click)="onDownload()"
      *ngIf="!!(panelConfig$ | async)?.meta?.hasDownloadButton"
    >
      <i
        class="tim-icons icon-cloud-download-93 ml-2"
        style="cursor: pointer"
      ></i>
    </span>
  </div>
  <div class="card-body p-1">
    <ng-container *ngIf="(panelConfig$ | async)?.type === 'chart'">
      <app-base-chart
        [chartConfiguration]="tileData$ | async"
        [height]="height.toString()"
      >
      </app-base-chart>
    </ng-container>
    <ng-container *ngIf="(panelConfig$ | async)?.type === 'table'">
      <app-grid-table
        [data]="tileData$ | async"
        style="width: -webkit-fill-available"
        (onDownload)="onDownload()"
        [height]="height.toString()"
      >
      </app-grid-table>
    </ng-container>
  </div>
</div>
