<app-timeseries-chart
  [chartConfiguration]="barChart"
  [chartTitle]="meterType?.usageTitle"
  [normalizationRadioVisible]="true"
  [chartTypeOptionVisible]="true"
  [meterTypeOptionVisible]="true"
  [dataTypeOptionVisible]="true"
  (normalizationChanged)="onNormalizationChanged($event)"
  (chartTypeChanged)="onChartTypeChanged($event)"
  (meterTypeChanged)="onMeterTypeChanged($event)"
  (dataTypeChanged)="onDataTypeChanged($event)"
>
</app-timeseries-chart>
<app-data-table [dataGrid]="dataGrid"></app-data-table>
