<div class="row mt-2" *ngIf="isGas">
  <div class="col">
    <h2 class="m-auto">Lista stacji gazowych</h2>
  </div>
  <div class="col">
    <button
      class="btn btn-info"
      style="float: right"
      (click)="onAddButton('gas')"
    >
      Dodaj stację gazową
    </button>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <ngx-datatable
      class="bootstrap m-auto"
      columnMode="force"
      rowHeight="auto"
      [treeFromRelation]="'costCenterMeterRef.val'"
      [treeToRelation]="'id.val'"
      [columns]="tableColumns"
      [rows]="tableRows"
      [rowClass]="rowColors"
      (treeAction)="onTreeAction($event)"
    >
    </ngx-datatable>
  </div>
</div>

<ng-template let-row="row" let-value="value" let-column="column" #display>
  <span *ngIf="column.prop != 'id'">{{ formatValue(value) }}</span>
  <span
    *ngIf="column.prop == 'id'"
    [ngStyle]="templateLogic(row).rowIndentation"
  >
    {{ formatValue(value) }}
    <a
      *ngIf="
        row.hasOwnProperty('costCenterMeter') &&
        !row.hasOwnProperty('productionDepartmentMeter')
      "
      class="ml-2 text-info d-flex align-items-center"
      style="float: right"
      [routerLink]="[row.id.val]"
      ><i class="tim-icons icon-double-right mr-1"> </i>
      <span>Przypisz liczniki</span></a
    >
  </span>
</ng-template>

<ng-template let-row="row" let-value="value" let-column="column" #edit>
  <div class="d-flex justify-content-between align-items-center">
    <input
      type="textarea"
      class="form-control"
      style="border: none; height: 100%; color: unset"
      placeholder="Wprowadź opis"
      [value]="value"
      (focusout)="onParameterChange($event, row, column)"
    />
    <i class="tim-icons icon-pencil"></i>
  </div>
</ng-template>

<ng-template let-row="row" let-value="value" let-column="column" #buttonColumn>
  <button
    *ngIf="templateLogic(row).addButtonVisible"
    class="btn btn-sm btn-success"
    style="max-width: 75px"
    (click)="onAddButton(row)"
  >
    Dodaj
  </button>
  <button
    *ngIf="templateLogic(row).deleteButtonVisible"
    class="btn btn-sm btn-danger"
    style="max-width: 75px"
    (click)="onDeleteButton(row)"
  >
    Usuń
  </button>
</ng-template>

<ng-template #delete>
  <div class="modal-header bg-danger pb-2">
    <h4 class="modal-title pull-left text-white">
      {{ isGas ? "Usuń stację gazową" : "Usuń centrum kosztowe" }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="costCenterToDelete">
    <p class="text-start mt-3">
      Czy na pewno chcesz usunąć
      {{ isGas ? "Stację gazową" : "Centrum kosztowe" }}
      <span class="alert-link">{{ costCenterToDelete.navName }}</span> w budynku
      <span class="alert-link">{{ costCenterToDelete.siteRef.dis }} </span>
      <span class="alert-link" *ngIf="costCenterToDelete.descPL.length > 0"
        >z opisem: {{ costCenterToDelete.descPL }}</span
      >
      wraz ze wszystkimi podlicznikami?
    </p>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-sm btn-danger"
      (click)="modalRef?.hide(); deleteMeter()"
    >
      Usuń
    </button>
    <button
      class="btn btn-sm btn-info"
      (click)="modalRef?.hide(); costCenterToDelete = undefined"
    >
      Anuluj
    </button>
  </div>
</ng-template>

<ng-template #add>
  <div class="modal-header bg-info pb-2">
    <h4 class="modal-title pull-left text-white">
      {{ isGas ? "Dodaj stację gazową" : "Dodaj centrum kosztowe" }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form
    class="needs-validation"
    #addCostCenter="ngForm"
    (ngSubmit)="submitForm(addCostCenter)"
  >
    <div class="modal-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Nazwa angielska</label>
        <input
          type="text"
          name="centerName"
          ngModel
          class="form-control"
          style="color: black"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Wprowadź nazwę"
          required
          minlength="3"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Podaj nazwę bez polskich, które będzie użyta w strukturze. Minimum 3
          znaki.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Opis</label>
        <input
          type="text"
          name="centerDesc"
          ngModel
          class="form-control"
          style="color: black"
          id="exampleInputPassword1"
          placeholder="Wprowadź opis"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Dodaj opis, który będzie widoczny na raporcie. Pole opcjonalne</small
        >
      </div>
    </div>
    <div class="modal-footer text-center">
      <button
        type="submit"
        [disabled]="!addCostCenter.valid"
        class="btn btn-primary"
        (click)="modalRef?.hide()"
      >
        Dodaj
      </button>
    </div>
  </form>
</ng-template>
