<div class="card card-chart">
  <div class="card-header mt-0 mb-0" *ngIf="chartTitle">
    <div class="row mt-0 pt-0">
      <div class="col-sm-10 text-left">
        <h4 class="card-title pb-0">
          {{ chartTitle }}
        </h4>
      </div>
      <div class="col-sm-2 text-right" *ngIf="isSettingVisible()">
        <a class="link">
          <i
            class="tim-icons icon-settings-gear-63"
            data-target="#noticeModal"
            (click)="noticeModal.show()"
          ></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body mt-0 pt-0">
    <div class="chart-area m-0 pt-0">
      <canvas
        *ngIf="chartConfig; else spinner"
        baseChart
        [data]="chartConfig.data"
        [options]="chartConfig.options"
        [datasets]="chartConfig.data.datasets"
        [labels]="chartConfig.data.labels"
        [type]="chartConfig.type || 'bar'"
      >
      </canvas>
    </div>
  </div>
</div>

<ng-template #spinner>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade"
  #noticeModal="bs-modal"
  id="noticeModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          (click)="noticeModal.hide()"
          type="button"
        >
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <h3 class="modal-title text-center" id="myModalLabel">
          Konfiguracja danych na wykresie
        </h3>
      </div>
      <div class="modal-body">
        <div class="row m-0">
          <div
            class="col-12 text-right mt-3 mb-3"
            *ngIf="meterTypeOptionVisible"
          >
            <app-meter-type-radio-button
              (meterTypeChanged)="meterTypeChanged.emit($event)"
            ></app-meter-type-radio-button>
          </div>

          <div
            class="col-12 text-right mt-3 mb-3"
            *ngIf="dataTypeOptionVisible"
          >
            <app-data-type-radio-button
              (optionChanged)="dataTypeChanged.emit($event)"
            ></app-data-type-radio-button>
          </div>

          <div
            class="col-12 text-right mt-3 mb-3"
            *ngIf="chartTypeOptionVisible"
          >
            <app-chart-type-radio-button
              (optionChanged)="chartTypeChanged.emit($event)"
            ></app-chart-type-radio-button>
          </div>

          <div
            class="col-12 text-right mt-3 mb-3"
            *ngIf="normalizationRadioVisible"
          >
            <app-normalization-radio-button
              (optionChanged)="normalizationChanged.emit($event)"
            ></app-normalization-radio-button>
          </div>
        </div>
      </div>
      <div class="modal-footer mt-4">
        <button
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="noticeModal.hide()"
          type="button"
        >
          Zamknij
        </button>
      </div>
    </div>
  </div>
</div>
